[Unit]
Description=Raspberry Pi definition agent
Documentation=https://github.com/MSOE-Supermileage/crust
After=network-online.target syslog.target

[Service]
Type=idle
ExecStart=/opt/crust/crust.py
ExecReload=/opt/crust/crust.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target

